<div class="row">
   <div class="col-lg-12">
      <ol class="breadcrumb">
         <li><a href="#redirectToHome">Inicial</a></li>
         <li class="active"><a href="#acessorio">Acessório</a></li>
         <li class="active">Edição</li>
      </ol>      
   </div>
</div>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <p class="fa edicao"></p>
            Acessório
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-lg-12">
                  <form role="form" name="acessorioForm" novalidate>
                     <div class="form-group">
                        <label>Nome</label>
                        <input class="form-control" placeholder="Obrigatório" ng-model="acessorio.nome" maxlength="200" required>
                     </div>
                     <div class="botoes-group">
                        <button id="buttonVoltar" class="btn btn-default" ng-click="voltar()">Voltar</button>
                        <button id="buttonSalvar" class="btn btn-primary" busy="Salvar" busy-disabled="true" ng-click="salvar()" ng-disabled="acessorioForm.$invalid">Salvar</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>