
<div class="row">
   <div class="col-lg-12">                
       <ol class="breadcrumb">
           <li><a href="#redirectToHome">Inicial</a></li>
           <li class="active"><a href="#configuracaoSistema">Configuração do Sistema</a></li>
           <li class="active">Edição</li>
       </ol>                  
       </h1>
   </div>
</div>

<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <p class="fa edicao"></p>
            Configuração do Sistema
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-lg-12">
                  <form role="form" name="configuracaoSistemaForm" novalidate>
                     <div class="form-group">
                        <label>Chave</label>
                        <input class="form-control" placeholder="Obrigatório" ng-model="configuracaoSistema.chave" maxlength="255" required>
                     </div>
                     <div class="form-group">
                        <label>Descrição</label>
                        <input class="form-control" ng-model="configuracaoSistema.descricao" maxlength="255">
                     </div>
                     <div class="form-group">
                        <label>Valor</label>
                        <wysiwyg textarea-id="question" textarea-class="form-control" textarea-height="160px" textarea-name="textareaQuestion" textarea-required ng-model="configuracaoSistema.valor" enable-bootstrap-title="true" textarea-menu="customMenu" required></wysiwyg>
                      </div> 
                      <div class="botoes-group">
                        <button id="buttonVoltar" class="btn btn-default" ng-click="voltar()">Voltar</button>
                        <button id="buttonSalvar" class="btn btn-primary" busy="Salvar" busy-disabled="true" ng-click="salvar()" ng-disabled="configuracaoSistemaForm.$invalid">Salvar</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>