<div class="row">
   <div class="col-lg-12">
      <ol class="breadcrumb">
         <li><a href="#redirectToHome">Inicial</a>
         </li>
         <li class="active">Avaria</li>
      </ol>
   </div>
</div>
<div class="row">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <p class="fa consulta"></p>
            Avaria
         </div>
         <div class="panel-body">
            <form role="form">
               <div class="row"> 
                  <div class="form-group col-md-12">
                     <label>Nome</label>  
                     <input class="form-control" ng-model="avaria.nome" ng-init="avaria.nome=''">
                  </div>
               </div>
               <div class="botoes-group">
                  <button id="buttonConsultar" class="btn btn-default" ng-click="consultar()">Consultar</button>
                  <button id="buttonIncluir" class="btn btn-default" ng-click="incluir()">Incluir</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<div class="row" ng-show="avarias">
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-body">
            <table datatable="ng" class="table-striped row-border hover">
               <thead>
                  <tr>
                     <th>Nome</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="avaria in avarias" ng-cloak ng-click="editar(avaria)">
                     <td>{{avaria.nome}}</td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>