/*body {
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857142857143;
	margin: 0;
	padding: 0;
}*/


.aui-theme-default a {
	color: #3b73af;
	text-decoration: none;
}

#ghx-pool {
	background: #ffffff;
	overflow-y: auto;
	position: relative;
}

#ghx-plan {
	display: none;
	position: relative;
}

#ghx-pool {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: initial;
}

.ghx-issue {
	background: #ffffff;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #cccccc;
	border-top-width: 0;
	border-left: none;
	color: #333333;
	display: block;
	font-size: 14px;
	margin: 0;
	position: relative;
}

.ghx-issue:first-child {
	border-top-width: 1px;
}

.ghx-issue:hover {
	background: #e9e9e9;
}

.ghx-issue.ui-sortable-helper {
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-o-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.ghx-grabber {
	background-color: #eeeeee;
}

.ghx-issue .ghx-grabber {
	height: 100%;
	left: 0;
	position: absolute;
	text-indent: -9999em;
	top: 0;
	width: 5px;
}

.ghx-sprint-support .ghx-issue .ghx-grabber {
	height: 79px;
}

.ghx-sprint-support .ghx-issue:first-child .ghx-grabber {
	height: 78px;
}

.ghx-avatar .ghx-avatar-img {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	height: 32px;
	width: 32px;
	color: #fff;
	font-size: 24px;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
}

.ghx-has-avatar .ghx-avatar {
	display: block;
}


.ghx-issue.ghx-selected .ghx-end {
	background: #ebf2f9;
	-webkit-box-shadow: -4px 0 3px #ebf2f9;
	box-shadow: -4px 0 3px #ebf2f9;
	-webkit-box-shadow: -4px 0 3px #ebf2f9, 0 -3px 3px #ebf2f9;
	box-shadow: -4px 0 3px #ebf2f9, 0 -3px 3px #ebf2f9;
}

.ghx-issue.ghx-flagged .ghx-end {
	background: #ffe9a8;
	-webkit-box-shadow: -4px 0 3px #ffe9a8;
	box-shadow: -4px 0 3px #ffe9a8;
	-webkit-box-shadow: -4px 0 3px #ffe9a8, 0 -3px 3px #ffe9a8;
	box-shadow: -4px 0 3px #ffe9a8, 0 -3px 3px #ffe9a8;
}

.ghx-issue.ghx-flagged.ghx-selected .ghx-end {
	background: #ffd351;
	-webkit-box-shadow: -4px 0 3px #ffd351;
	box-shadow: -4px 0 3px #ffd351;
	-webkit-box-shadow: -4px 0 3px #ffd351, 0 -3px 3px #ffd351;
	box-shadow: -4px 0 3px #ffd351, 0 -3px 3px #ffd351;
}

.ghx-issue:hover .ghx-end, .ghx-issue.ghx-selected:hover .ghx-end,
	.ghx-issue.ghx-flagged:hover .ghx-end, .ghx-issue.ghx-flagged.ghx-selected:hover .ghx-end
	{
	background: #e9e9e9;
	-webkit-box-shadow: -4px 0 3px #e9e9e9;
	box-shadow: -4px 0 3px #e9e9e9;
	-webkit-box-shadow: -4px 0 3px #e9e9e9, 0 -3px 3px #e9e9e9;
	box-shadow: -4px 0 3px #e9e9e9, 0 -3px 3px #e9e9e9;
}

.ghx-issue .ghx-corner {
	min-width: 24px;
	text-align: right;
}

.ghx-issue .aui-badge {
	white-space: pre-wrap;
	text-transform: lowercase;
}

.ghx-sprint-support .ghx-issue .ghx-end {
	bottom: 4px;
}

.ghx-days {
	bottom: 1px;
	height: 5px;
	position: absolute;
	left: 0;
	overflow: hidden;
	width: 100%;
}

.ghx-sprint-support .ghx-days {
	display: none;
}

.ghx-issue.ui-draggable-dragging, .ghx-issue.ui-sortable-helper {
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.ghx-has-avatar .ghx-issue-fields, .ghx-has-corner .ghx-issue-fields {
	padding-right: 42px;
}

.ghx-issue-fields .ghx-key {
	display: inline-block;
	height: 25px;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;
    padding-top: 5px;
}

.ghx-detail-issue img.ghx-type, .ghx-sprint-report img, .ghx-epic-report img,
	.ghx-version-report img {
	height: 16px;
	margin-right: 5px;
	width: 16px;
}

#ghx-report-content table.aui img {
	vertical-align: text-bottom;
}

.ghx-issue.ghx-done .ghx-key a {
	text-decoration: line-through;
}

.ghx-issue-fields .ghx-summary .ghx-inner {
	display: block;
	height: 3.4em;
	line-height: 1.1;
	overflow: hidden;
	word-wrap: break-word;
}

.chrome .ghx-issue-fields .ghx-summary .ghx-inner {
	height: 3.25em;
}

.ghx-issue .ghx-type, .ghx-issue .ghx-type img, .ghx-issue .ghx-flags,
	.ghx-issue .ghx-priority, .ghx-issue .ghx-priority img {
	height: 16px;
	width: 16px;
	overflow: hidden;
}

.ghx-issue .ghx-flag, .ghx-issue .ghx-flag .ghx-icon {
	vertical-align: top;
}

.ghx-fa {
	color: #999999;
	font-style: italic;
}

.ghx-issue .ghx-flags {
	left: 13px;
	position: absolute;
	top: 29px;
}

.ghx-issue-fields .ghx-type {
	left: 13px;
	position: absolute;
	top: 8px;
}

.ghx-issue-subtask {
	margin-left: 8px;
}

.ghx-has-swimlanes.ghx-parent-child .ghx-issue-subtask {
	margin-left: 0;
}

.ghx-parent-stub {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	border-top: 1px solid #ddd;
	font-size: 12px;
	font-weight: normal;
	padding: 0;
	height: 22px;
	line-height: 1.8;
	position: relative;
	top: 1px;
}

.ghx-parent-stub .ghx-group {
	background: #f5f5f5;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-right: 4px;
	white-space: nowrap;
}

.ghx-parent-stub .ghx-key {
	border-left: 10px solid #bbbbbb;
	border-bottom: none;
	color: #8a8a8a;
	display: inline-block;
	font-weight: normal;
	height: 20px;
	padding: 0 4px;
}

.ghx-parent-stub .ghx-summary {
	color: #8a8a8a;
	padding: 0 4px;
}

.ghx-summary {
	padding-top: 6px;
}

.ghx-parent-group.ui-sortable-helper .ghx-subtask-group {
	visibility: hidden;
}

.ghx-issue.ghx-filtered {
	display: none;
}

.ghx-column-headers, .ghx-columns {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-spacing: 10px 0;
	display: table;
	list-style: none;
	margin: 0;
	table-layout: fixed;
	width: 100%;
	padding: 0;
}

#ghx-column-headers {
	padding-top: 5px;
}

.ghx-column-headers .ghx-column, .ghx-columns .ghx-column {
	background: #e9e9e9;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: table-cell;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	vertical-align: top;
}

.ghx-column-headers .ghx-column.ghx-busted-max, .ghx-columns .ghx-column.ghx-busted-max
	{
	background: #d04437;
}

.ghx-column-headers .ghx-column.ghx-busted-min, .ghx-columns .ghx-column.ghx-busted-min
	{
	background: #f6c342;
}

.ghx-column-headers .ghx-column.ghx-target-option, .ghx-columns .ghx-column.ghx-target-option
	{
	background: #ebf2f9;
}

.ghx-column-headers .ghx-column.ghx-target-option.ghx-target-hover,
	.ghx-columns .ghx-column.ghx-target-option.ghx-target-hover {
	background: #f3f9f4;
}

.ghx-column-headers .ghx-column {
	background: #fff;
	border-bottom: 5px solid #e9e9e9;
	padding: 10px 10px 10px 0;
	height: 88px;
}

.ghx-column-headers .ghx-column.ghx-busted-max {
	background: #fff;
	border-bottom-color: #d04437;
}

.ghx-column-headers .ghx-column.ghx-busted-min {
	background: #fff;
	border-bottom-color: #f6c342;
}

.ghx-column-headers .ghx-column.ghx-target-option {
	background: #fff;
}

.ghx-column-headers .ghx-column.ghx-target-option.ghx-target-hover {
	background: #fff;
}

.ghx-column-headers .ghx-qty {
	display: inline-block;
	font-weight: bold;
	margin-right: 5px;
	float: left;
}

.ghx-column-headers .ghx-limits {
	display: inline-block;
}

.ghx-columns .ghx-column.ghx-target-option {
	background-color: #ebf2f9;
	border: 2px dashed #3b73af;
}

.ghx-columns .ghx-column.ghx-target-hover {
	background-color: #f3f9f4;
	border: 2px dashed #14892c;
}

.ghx-column-headers h2 {	
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5;
	font-weight: normal;
	margin: 0 5px 0 0;
	word-wrap: break-word;
}

.msie-8 .ghx-column-headers .ghx-column {
	overflow: hidden;
	padding-bottom: 0;
}

.ghx-column-headers .ghx-count-only {
	display: inline-block;
	margin-left: 5px;
}

.ghx-column-headers .ghx-constraint.ghx-busted {
	display: inline-block;
	color: #707070;
	font-size: 11px;
}

.ghx-column-headers .ghx-constraint.ghx-busted+.ghx-constraint.ghx-busted
	{
	margin-left: 5px;
}

.ghx-column-header-group.ghx-fixed {
	background: #fff;
	z-index: 1;
	width: 100%;
}

.ghx-constraints {
	margin-top: 20px;
	overflow: hidden;
}

.ghx-constraints .ghx-busted {
	display: inline-block;
	padding: 4px 6px;
}

.ghx-constraints input {
	height: 30px;
}

.ghx-exception h4 {
	color: #333333;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	margin-top: 1em;
}

.ghx-exception .ghx-more {
	float: right;
	margin-right: 10px;
}

.ghx-band-1 .ghx-issue .ghx-avatar .ghx-avatar-img {
	height: 16px;
	width: 16px;
	font-size: 12px;
	line-height: 16px;
}

.ghx-band-1 .ghx-issue, .ghx-band-1 .ghx-key {
	font-size: 12px;
}

.ghx-band-1 .ghx-issue {
	padding-right: 5px;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 3px;
    border-bottom: 1px solid white;
}

.ghx-band-1 .ghx-issue-fields .ghx-type, .ghx-band-1 .ghx-issue .ghx-flags,
	.ghx-band-1 .ghx-avatar {
	left: 8px;
}

.ghx-band-1 .ghx-issue-fields .ghx-type {
	top: 5px;
}

.ghx-band-1 .ghx-issue .ghx-flags {
	top: 24px;
}

.ghx-band-1 .ghx-issue .ghx-end {
	right: 5px;
}

.ghx-band-1 .ghx-issue-fields {
	margin-top: 0;
}

.ghx-band-1 .ghx-issue-fields .ghx-summary .ghx-inner {
	line-height: 1;
	height: 4em;
}

.ghx-band-1 .ghx-issue-fields {
	padding-right: 0;
}