 <div class="row">
   <div class="col-lg-12">
      <ol class="breadcrumb">
         <li><a href="#redirectToHome">Inicial</a>
         </li>
      </ol>
   </div>
</div>
<div class="row">
   <div class="col-lg-12">
      	<div class="panel panel-default">
         	<div class="panel-heading">
            	<p class="fa fa-list-ol"></p>
            	Número de Ordens
         	</div>
         	<div class="panel-body">
         		<div class="col-lg-3 col-md-6">
		            <div class="panel panel-green">
		                <div class="panel-heading">
		                    <div class="row">
		                        <div class="col-xs-3">
		                            <i class="fa fa-list-alt fa-5x"></i>
		                        </div>
		                        <div class="col-xs-9 text-right">
		                            <div class="huge">{{numeroOrdensServicoAtendidas}}</div>
		                            <div>Total de Ordens</div>
		                        </div>
		                    </div>
		                </div>	                
		            </div>
		        </div>
		         <div class="col-lg-3 col-md-6">
		            <div class="panel panel-green">
		                <div class="panel-heading">
		                    <div class="row">
		                        <div class="col-xs-3">
		                            <i class="fa fa-list-alt fa-5x"></i>
		                        </div>
		                        <div class="col-xs-9 text-right">
		                            <div class="huge">{{ordensServicoAtivas.length}}</div>
		                            <div>Ordens Em Atendimento</div>
		                        </div>
		                    </div>
		                </div>	                
		            </div>
		        </div>	  
	  		</div> 
		</div>
	</div>
   	<div class="col-lg-12">
		<div class="panel panel-default">
         	<div class="panel-heading">
            	<p class="fa fa-bar-chart-o"></p>
            	Gráficos
         	</div>
			<div class="panel-body">
				<div class="col-lg-4">
					<label class="center">Ordens de Serviço Atendidas por Equipamento</label>
					<div
						donut-chart
						donut-data= ordensServicoPorEquipamento
						donut-label-color='"#000000"' 
						donut-background-color='"#ffffff"'>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="center">
						<label style="display: inline-block;">Ordens de Serviço Abertas por Mês no Ano</label>
						<label class="checkbox-inline" style="padding-left: 0px;">
							<select class="form-control" ng-model="dashboard.anoOrdensServicoAbertasMesAno" style="height: 20px;" ng-change="buscarOrdensServicoAbertasMesAno()">
		                        <option ng-repeat="ano in dashboard.anos">{{ano}}</option>
		                    </select>
		                 </label>
	                   </div>
					<div ng-if="ordensServicoPorMesAno.length > 0" 
						bar-chart 
						bar-data=ordensServicoPorMesAno
						bar-x='label'
						bar-y='["value"]'
						bar-labels='["Total"]'
						hideHover='auto'>
					</div>
					<div class="center" ng-if="ordensServicoPorMesAno.length == 0" style="padding-top: 160px;">
						<label>Dados inexistentes</label>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="center">
						<label style="display: inline-block;">Faturamento por Mês no Ano</label>
						<label class="checkbox-inline" style="padding-left: 0px;">
							<select class="form-control" ng-model="dashboard.anoFaturamentoMesAno" style="height: 20px;" ng-change="buscarFaturamentoMesAno()">
		                        <option ng-repeat="ano in dashboard.anos">{{ano}}</option>
		                    </select>
		                 </label>
	                   </div>
					<div ng-if="faturamentoMesAno.length > 0" 
						bar-chart 
						bar-data=faturamentoMesAno
						bar-hover-callback=formatarMonetario
						bar-x='label'
						bar-y='["value"]'
						bar-labels='["Total"]'
						>
					</div>
					<div class="center" ng-if="faturamentoMesAno.length == 0" style="padding-top: 160px;">
						<label>Dados inexistentes</label>
					</div>
				</div>
			</div>						   
   		</div>
	</div>
</div>
    	