<div class="row">
   <div class="col-lg-12">
      <ol class="breadcrumb">
         <li><a href="#redirectToHome">Inicial</a></li>
         <li class="active" roles-usuario="atendimento,relacionamento"><a href="#ordemServico">Ordem de Serviço</a></li>
         <li class="active">Edição</li>
      </ol>
      <div class="botoes-impressao">
         <button id="buttonEntradaEquipamento" class="btn btn-default" ng-click="imprimirEntradaEquipamento(ordemServico.id)" ng-if="ordemServico.id"><i class="fa fa-print"></i> Entrada Equipamento</button>
         <button id="buttonSaidaEquipamento" class="btn btn-default" ng-click="imprimirSaidaEquipamento(ordemServico.id)" ng-if="ordemServico.id && ordemServico.etapaOrdemServicoAtual.etapa.id >= 8"><i class="fa fa-print"></i> Saída Equipamento</button>
      </div>
   </div>
</div>
<div class="row">
   <form role="form" name="ordemServicoForm" novalidate>
      <div class="col-lg-12" ng-if="ordemServico.id">
         <div class="panel panel-default">
            <div class="panel-heading">
               <p class="fa consulta"></p>
               Info
            </div>
            <div class="panel-body">
               <div class="row">
                  <div class="form-group col-md-4">
                     <label>Número</label>
                     <span class="label label-primary lb-md">{{ordemServico.numero}}</span>
                     <span ng-if="ordemServico.aprovado" class="label lb-md" title="{{ordemServico.aprovado == 'S' ? 'Orçamento Aprovado' : 'Orçamento Reprovado'}}" ng-class="ordemServico.aprovado == 'S' ? 'label-success' : 'label-danger'">{{ordemServico.aprovado}}</span>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Data Entrada</label>
                     <span class="label label-primary lb-md">{{ordemServico.etapaOrdemServicoInicial.dataInclusao | date:'dd/MM/yyyy HH:mm'}}</span>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Usuário Entrada</label>
                     <span class="label label-primary lb-md">{{ordemServico.etapaOrdemServicoInicial.usuario.login}}</span>
                  </div>
               </div>
               <div class="row">
                  <div class="form-group col-md-4">
                     <label>Etapa Atual</label>
                     <span class="label label-primary lb-md">{{ordemServico.etapaOrdemServicoAtual.etapa.nome}}</span>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Data</label>
                     <span class="label label-primary lb-md">{{ordemServico.etapaOrdemServicoAtual.dataInclusao | date:'dd/MM/yyyy HH:mm'}}</span>
                  </div>
                  <div class="form-group col-md-4">
                     <label>Usuário</label>
                     <span class="label label-primary lb-md">{{ordemServico.etapaOrdemServicoAtual.usuario.login}}</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-8">
         <div class="panel panel-default">
            <div class="panel-heading">
               <i class="fa fa-user fa-fw"></i>
               Cliente
            </div>
            <div class="panel-body">
               <div class="row">
                  <div class="form-group col-lg-12">
                     <div class="input-group select2-bootstrap-append">
                        <ui-select ng-model="ordemServico.cliente" required ng-disabled="ordemServico.id">
                           <ui-select-match placeholder="Informe Nome, E-mail ou CPF">{{$select.selected.nome}} &lt;{{$select.selected.email}}&gt;</ui-select-match>
                           <ui-select-choices repeat="cliente in clientes" refresh="buscarClientes($select.search)" refresh-delay="10" minimum-input-length="4">
                              <div ng-bind-html="cliente.nome | highlight: $select.search"></div>
                              <div ng-bind-html="cliente.email | highlight: $select.search"></div>
                              <div ng-bind-html="cliente.cpf"></div>
                           </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn" ng-if="!ordemServico.id">
                        <button type="button" ng-click="ordemServico.cliente = undefined" class="btn btn-default" title="Limpar Cliente">
                        <i class="fa fa-trash-o"></i>
                        </button>
                        <button type="button" ng-click="incluirCliente()" class="btn btn-default" title="Incluir Cliente">
                        <i class="fa fa-plus"></i>
                        </button>                          
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-lg-4">
         <div class="panel panel-default">
            <div class="panel-heading">
               <i class="fa fa-retweet fa-fw"></i>
               Retorno
            </div>
            <div class="panel-body">
               <div class="row">
                  <div class="form-group col-lg-12">
                     <input class="form-control" placeholder="Informe o número de ordem de serviço caso seja retorno" ng-model="ordemServico.referenciaRetorno" maxlength="20">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div id="myModal" class="modal fade">
         <div class="modal-dialog">
            <div class="modal-content">                
            </div>
         </div>
      </div>
      <div class="col-lg-12">
         <div class="panel panel-default">
            <div class="panel-heading">
               <i class="fa fa-laptop fa-fw"></i>
               Equipamento
            </div>
            <div class="panel-body">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="row">
                        <div class="form-group col-md-4">
                           <label>Tipo</label>                           
                           <div class="input-group select2-bootstrap-append">
                              <ui-select ng-model="ordemServico.equipamento" required ng-disabled="ordemServico.id">
                                 <ui-select-match placeholder="Obrigatório">{{$select.selected.nome}}</ui-select-match>
                                 <ui-select-choices repeat="equipamento in equipamentos" refresh="buscarEquipamento($select.search)" refresh-delay="10" minimum-input-length="4">
                                    <div ng-bind-html="equipamento.nome | highlight: $select.search"></div>
                                 </ui-select-choices>
                              </ui-select>
                              <span class="input-group-btn" ng-if="!ordemServico.id">
                              <button type="button" ng-click="ordemServico.equipamento = undefined" class="btn btn-default" title="Limpar Equipamento">
                              <i class="fa fa-trash-o"></i>
                              </button>
                              <button type="button" ng-click="incluirEquipamento()" class="btn btn-default" title="Incluir Equipamento">
                              <i class="fa fa-plus"></i>
                              </button> 
                              </span>
                           </div>
                        </div>
                        <div class="form-group col-md-4">
                           <label>Marca</label>
                           <input class="form-control" ng-disabled="ordemServico.etapaOrdemServicoAtual.etapa.id >= 9" placeholder="Obrigatório" ng-model="ordemServico.marca" maxlength="200" required>
                        </div>
                        <div class="form-group col-md-4">
                           <label>Modelo</label>
                           <input class="form-control" ng-disabled="ordemServico.etapaOrdemServicoAtual.etapa.id >= 9" placeholder="Obrigatório" ng-model="ordemServico.modelo" maxlength="200" required>
                        </div>
                     </div>
                     <div class="row">
                        <div class="form-group col-md-4">
                           <label>Serial</label>
                           <input class="form-control" ng-disabled="ordemServico.etapaOrdemServicoAtual.etapa.id >= 9" placeholder="Obrigatório" ng-model="ordemServico.serial" maxlength="200" required>
                        </div>
                        <div class="form-group col-md-4">
                           <label>Acessórios</label>                           
                           <ui-select multiple sortable="true" ng-disabled="ordemServico.etapaOrdemServicoAtual.etapa.id >= 9" ng-model="ordemServico.acessorios" class="form-control">
                              <ui-select-match>{{$item.nome}}</ui-select-match>
                              <ui-select-choices repeat="acessorio in acessorios | filter: $select.search">
                                 <div ng-bind-html="acessorio.nome | highlight: $select.search"></div>
                              </ui-select-choices>
                           </ui-select>
                        </div>
                        <div class="form-group col-md-4">
                           <label>Avarias Pré-Existentes</label>
                           <ui-select multiple sortable="true" ng-disabled="ordemServico.etapaOrdemServicoAtual.etapa.id >= 9" ng-model="ordemServico.avarias" class="form-control">
                              <ui-select-match>{{$item.nome}}</ui-select-match>
                              <ui-select-choices repeat="avaria in avarias | filter: $select.search">
                                 <div ng-bind-html="avaria.nome | highlight: $select.search"></div>
                              </ui-select-choices>
                           </ui-select>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   <div class="col-lg-12">
      <div class="panel panel-default">
         <div class="panel-heading">
            <i class="fa fa-edit  fa-fw"></i>
            Defeito Reportado
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-lg-12">
                  <form role="form" name="equipamentoForm" novalidate>
                     <div class="form-group">                           
                        <textarea rows="4" class="form-control" ng-disabled="ordemServico.etapaOrdemServicoAtual.etapa.id >= 9" placeholder="Obrigatório" ng-model="ordemServico.defeito" maxlength="500" required></textarea>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-12" ng-show="ordemServico.etapaOrdemServicoAtual.etapa.id >= 2">
      <div class="panel panel-default">
         <div class="panel-heading">
            <i class="fa fa-list-alt fa-fw"></i>
            Orçamento
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-lg-12">
                  <form role="form" name="orcamentoForm" novalidate>
                     <div class="form-group">   
                        <label>Descrição</label>                        
                        <textarea rows="4" class="form-control" ng-disabled="ordemServico.etapaOrdemServicoAtual.etapa.id > 2" placeholder="Obrigatório" ng-model="ordemServico.descricaoOrcamento" maxlength="500" required></textarea>
                     </div>
                     <div class="form-group">
                        <label>Valor</label>
                        <input class="form-control" ng-disabled="ordemServico.etapaOrdemServicoAtual.etapa.id > 2" placeholder="Obrigatório" ng-model="ordemServico.valorOrcamento" maxlength="200" ui-number-mask="2" required>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-12" ng-show="ordemServico.aprovado == 'S' && ordemServico.etapaOrdemServicoAtual.etapa.id >= 5">
      <div class="panel panel-default">
         <div class="panel-heading">
            <i class="fa fa-money fa-fw"></i>
            Sinal
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-lg-12">
                  <form role="form" name="pagamentoSinalForm" novalidate>
                     <div class="row">
                        <div class="form-group col-md-2">
                           <label>Data Pagamento</label>
                           <div class="input-group">
                              <input class="form-control" ng-disabled="ordemServico.etapaOrdemServicoAtual.etapa.id >= 6" title="Por favor, preencha este campo no formato: DD/MM/YYYY"  uib-datepicker-popup="dd/MM/yyyy" ng-model="ordemServico.dataPagamentoSinal" is-open="ordemServico.dataPagamentoSinalOpened" mask="99/99/9999" ng-pattern="/^(0[1-9]|[12][0-9]|3[01])\/(0[1-9]|1[012])\/(199\d|[2-9]\d{3})$/"/>
                              <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="openDataPagamentoSinal()">
                              <i class="fa fa-calendar"></i>
                              </button>                                
                              </span>
                           </div>
                        </div>
                        <div class="form-group col-md-2">
                           <label>Valor</label>
                           <input class="form-control" ng-disabled="ordemServico.etapaOrdemServicoAtual.etapa.id >= 6" ng-model="ordemServico.valorSinal" maxlength="200" ui-number-mask="2">
                        </div>
                        <div class="form-group col-md-6">
                           <label>Tipo Pagamento</label>
                           <label class="radio-inline">
                           <input type="radio" ng-disabled="ordemServico.etapaOrdemServicoAtual.etapa.id >= 6" ng-model="ordemServico.tipoPagamentoSinal" value="DI" checked="true">Dinheiro
                           </label>
                           <label class="radio-inline">
                           <input type="radio" ng-disabled="ordemServico.etapaOrdemServicoAtual.etapa.id >= 6" ng-model="ordemServico.tipoPagamentoSinal" value="CA">Cartão
                           </label>
                           <label class="radio-inline">
                           <input type="radio" ng-disabled="ordemServico.etapaOrdemServicoAtual.etapa.id >= 6" ng-model="ordemServico.tipoPagamentoSinal" value="CH">Cheque
                           </label>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="col-lg-12" ng-show="ordemServico.aprovado == 'S' && ordemServico.etapaOrdemServicoAtual.etapa.id >= 8">
      <div class="panel panel-default">
         <div class="panel-heading">
            <i class="fa fa-money fa-fw"></i>
            Pagamento Restante
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-lg-12">
                  <form role="form" name="pagamentorRestanteForm" novalidate>
                     <div class="row">
                        <div class="form-group col-md-2">
                           <label>Data Pagamento</label>
                           <div class="input-group">
                              <input class="form-control" ng-disabled="ordemServico.etapaOrdemServicoAtual.etapa.id >= 9" title="Por favor, preencha este campo no formato: DD/MM/YYYY" uib-datepicker-popup ng-model="ordemServico.dataPagamentoRestante" is-open="ordemServico.dataPagamentoRestanteOpened" mask="99/99/9999" ng-pattern="/^(0[1-9]|[12][0-9]|3[01])\/(0[1-9]|1[012])\/(199\d|[2-9]\d{3})$/" required>
                              <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="openDataPagamentoRestante()">
                              <i class="fa fa-calendar"></i>
                              </button>                                
                              </span>
                           </div>
                        </div>
                        <div class="form-group col-md-2">
                           <label>Pagamento Restante</label>
                           <input class="form-control" ng-disabled="ordemServico.etapaOrdemServicoAtual.etapa.id >= 9" ng-model="ordemServico.valorPagamentoRestante" maxlength="200" ui-number-mask="2" required>
                        </div>
                        <div class="form-group col-md-6">
                           <label>Tipo Pagamento</label>
                           <label class="radio-inline">
                           <input type="radio" ng-disabled="ordemServico.etapaOrdemServicoAtual.etapa.id >= 9" ng-model="ordemServico.tipoPagamentoRestante" value="DI" required>Dinheiro
                           </label>
                           <label class="radio-inline">
                           <input type="radio" ng-disabled="ordemServico.etapaOrdemServicoAtual.etapa.id >= 9" ng-model="ordemServico.tipoPagamentoRestante" value="CA" required>Cartão
                           </label>
                           <label class="radio-inline">
                           <input type="radio" ng-disabled="ordemServico.etapaOrdemServicoAtual.etapa.id >= 9" ng-model="ordemServico.tipoPagamentoRestante" value="CH" required>Cheque
                           </label>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>   
   <div class="col-lg-12" ng-show="ordemServico.aprovado == 'S' && ordemServico.etapaOrdemServicoAtual.etapa.id >= 6">
      <div class="panel panel-default">
         <div class="panel-heading">
            <i class="fa fa-wrench fa-fw"></i>
            Atendimento
         </div>
         <div class="panel-body">
            <div class="row">
               <div class="col-lg-12">
                  <form role="form" name="atendimentoForm" novalidate>
                     <div class="form-group">   
                        <label>Obervação</label>                        
                        <textarea rows="3" class="form-control" ng-disabled="ordemServico.etapaOrdemServicoAtual.etapa.id > 6" ng-model="ordemServico.observacao" maxlength="500" required></textarea>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-lg-12" ng-show="ordemServico.id">
      <div class="chat-panel panel panel-default">
         <div class="panel-heading">
             <i class="fa fa-comments fa-fw"></i> Acompanhamento             
         </div>
         <div class="panel-body" ng-show="ordemServico.acompanhamentos.length > 0">
             <ul class="chat">                 
                 <li class="clearfix" ng-repeat="acompanhamento in ordemServico.acompanhamentos">                     
                     <div class="chat-body clearfix">
                         <div class="header">
                             <strong class="primary-font">{{acompanhamento.usuario.login}}</strong>
                             <small class="pull-right text-muted">
                                 <i class="fa fa-clock-o fa-fw"></i> {{acompanhamento.dataInclusao | date:'dd/MM/yyyy HH:mm'}}</small>
                         </div>
                         <p>
                             {{acompanhamento.texto}}
                         </p>
                     </div>
                 </li>
             </ul>
         </div>
         <div class="panel-footer">
             <div class="input-group">
                 <input id="btn-input" ng-model="ordemServico.acompanhamento" type="text" class="form-control input-sm">
                 <span class="input-group-btn">
                     <button class="btn btn-warning btn-sm" ng-disabled="!ordemServico.acompanhamento" ng-click="enviarAcompanhamento()">
                         Enviar
                     </button>
                 </span>
             </div>
         </div>
     </div>
   </div>
   <div class="col-lg-12" ng-if="ordemServico.id">
      <div class="panel panel-default">
         <div class="panel-heading accordion-toggle collapsed link" data-toggle="collapse" href="#collapse" ng-click="timeline()">
            <i class="fa fa-clock-o fa-fw"></i> Timeline da Ordem de Serviço
         </div>
         <div class="panel-body panel-collapse collapse" id="collapse">
            <ul class="timeline">
               <li ng-repeat="item in timelineOrdemServico">
                  <div class="timeline-badge success"><i class="fa fa-check"></i>
                  </div>
                  <div class="timeline-panel">
                     <div class="timeline-heading">
                        <p>
                           <small class="text-muted">
                           <i class="fa fa-info" style="margin-left: 3px; width: 7px;"></i> {{item.nomeEtapa}}
                           </small>
                        </p>
                        <p>
                           <small class="text-muted">
                           <i class="fa fa-clock-o"></i> {{item.dataInclusaoEtapa | date:'dd/MM/yyyy HH:mm'}}
                           </small>
                        </p>
                        <p>
                           <small class="text-muted">
                           <i class="fa fa-user"></i> {{item.loginUsuarioEtapa}}
                           </small>
                        </p>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="col-lg-12">
      <div class="botoes-group">
         <button id="buttonVoltar" class="btn btn-default" ng-click="voltar()">Voltar</button>
         <button id="buttonSalvar" class="btn btn-primary" busy busy-disabled="true" busy-when-url="ordemServico" ng-click="salvar()" ng-if="!ordemServico.id || ordemServico.etapaOrdemServicoAtual.etapa.id < 9" ng-disabled="ordemServicoForm.$invalid">Salvar</button>
         <button id="buttonCancelar" class="btn btn-danger" busy busy-disabled="true" roles-usuario busy-when-url="cancelar" ng-click="cancelar()" ng-if="ordemServico.id && ordemServico.etapaOrdemServicoAtual.etapa.id < 9">Cancelar</button>
         <button id="buttonEnviarEmailAberturaOrdemServico" class="btn btn-primary" busy busy-disabled="true" busy-when-url="enviarEmailAberturaOrdemServico" ng-click="enviarEmailAberturaOrdemServico(ordemServico.id)" ng-if="ordemServico.etapaOrdemServicoAtual.etapa.id == 1"><i class="fa fa-envelope-o"></i> E-mail Abertura Ordem Serviço</button>            
         <button id="buttonIniciarOrcamento" class="btn btn-primary" busy busy-disabled="true" busy-when-url="orcamento/iniciar" ng-click="iniciarOrcamento(ordemServico.id)" ng-if="ordemServico.etapaOrdemServicoAtual.etapa.id == 1" ng-disabled="ordemServicoForm.$invalid">Salvar e Iniciar Orçamento</button>
         <button id="buttonFinalizarOrçamento" class="btn btn-primary" busy busy-disabled="true" busy-when-url="orcamento/finalizar" ng-click="finalizarOrcamento(ordemServico.id)" ng-if="ordemServico.etapaOrdemServicoAtual.etapa.id == 2" ng-disabled="orcamentoForm.$invalid || ordemServicoForm.$invalid">Salvar e Finalizar Orçamento</button>            
         <button id="buttonAprovarOrçamento" class="btn btn-primary" busy busy-disabled="true" busy-when-url="orcamento/aprovar" ng-click="aprovarOrcamento(ordemServico.id)" ng-if="ordemServico.etapaOrdemServicoAtual.etapa.id == 3">Aprovar Orçamento</button>
         <button id="buttonReprovarOrçamento" class="btn btn-primary" busy busy-disabled="true" busy-when-url="orcamento/reprovar" ng-click="reprovarOrcamento(ordemServico.id)" ng-if="ordemServico.etapaOrdemServicoAtual.etapa.id == 3">Reprovar Orçamento</button>
         <button id="buttonIniciarExecucaoServico" class="btn btn-primary" busy busy-disabled="true" busy-when-url="iniciarExecucaoServico" ng-click="iniciarExecucaoServico(ordemServico.id)" ng-if="ordemServico.etapaOrdemServicoAtual.etapa.id == 5" ng-disabled="pagamentoSinalForm.$invalid || ordemServicoForm.$invalid">Salvar e Iniciar Execução Serviço</button>
         <button id="buttonFinalizarExecucaoServico" class="btn btn-primary" busy busy-disabled="true" busy-when-url="finalizarExecucaoServico" ng-click="finalizarExecucaoServico(ordemServico.id)" ng-if="ordemServico.etapaOrdemServicoAtual.etapa.id == 6" ng-disabled="ordemServicoForm.$invalid">Salvar e Finalizar Execução Serviço</button>
         <button id="buttonFinalizarAtendimento" class="btn btn-primary" busy busy-disabled="true" busy-when-url="liberarEquipamentoRetirada" ng-click="liberarEquipamentoRetirada(ordemServico.id)" ng-if="ordemServico.etapaOrdemServicoAtual.etapa.id == 7 || ordemServico.etapaOrdemServicoAtual.etapa.id == 4">Liberar Equipamento para Retirada</button>
         <button id="buttonFinalizarOrdemServico" class="btn btn-primary" busy busy-disabled="true" busy-when-url="finalizarOrdemServico" ng-click="finalizarOrdemServico(ordemServico.id)" ng-if="ordemServico.etapaOrdemServicoAtual.etapa.id == 8" ng-disabled="(ordemServico.aprovado == 'S' &&pagamentorRestanteForm.$invalid) || ordemServicoForm.$invalid">Salvar e Finalizar Ordem Serviço</button>
         <button id="buttonEnviarEmailRetirada" class="btn btn-primary" busy busy-disabled="true" busy-when-url="enviarEmailRetirada" ng-click="enviarEmailRetirada(ordemServico.id)" ng-if="ordemServico.etapaOrdemServicoAtual.etapa.id == 8"><i class="fa fa-envelope-o"></i> E-mail Retirada</button>
      </div>
   </div>
</div>